# This is the Moov API OpenAPI specification.
#
# The purpose of this document is to provide a specification for the Moov API from a user's
# point of view. This means viewing the services combined under https://api.moov.io (or another
# URL).
#
# If you're working on internal service calls you may or may not be able to use a generated
# client from this document.
#
# Docs: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md
#
#
# TODO amount fields now take a currency code. USD default
#  - Look at https://godoc.org/golang.org/x/text/currency
#
# TODO GET endpoints should use the OAS 3 Link Object specification
#  - https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#linkObject
#
# TODO Transfers objects now have an estimated ?posting? date
# TODO add Documents allowing Customer ID(passport, drivers license, idCard) to be uploaded and verified
# TODO Webhooks have been documented for retrieving events
# TODO add support for retrieving 1099-k for Originators
#
# Property names must conform to the following guidelines:
# - Resources are plural nouns /customers/
# - Property names should be meaningful names with defined semantics.
# - Property names must be camel-cased, ASCII strings.
# - The first character must be a letter, an underscore (_) or a dollar sign ($).
# - Subsequent characters can be a letter, a digit, an underscore, or a dollar sign.
# - Reserved JavaScript keywords should be avoided

openapi: "3.0.2"
info:
  description: |
    _Note_: We're currently in pre-release of our API. We expect breaking changes before launching v1 so please join our [slack organization](http://moov-io.slack.com/) ([request an invite](https://join.slack.com/t/moov-io/shared_invite/enQtNDE5NzIwNTYxODEwLTRkYTcyZDI5ZTlkZWRjMzlhMWVhMGZlOTZiOTk4MmM3MmRhZDY4OTJiMDVjOTE2MGEyNWYzYzY1MGMyMThiZjg)) or [mailing list](https://groups.google.com/forum/#!forum/moov-users) for more updates and notices.

    The Moov API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We support [cross-origin resource sharing](http://en.wikipedia.org/wiki/Cross-origin_resource_sharing), allowing you to interact securely with our API from client-side web applications (never expose your secret API key in any public website's client-side code). [JSON](http://www.json.org/) is returned by all API responses, including errors, although you can generate client code via [OpenAPI](https://swagger.io/) code generation to convert responses to appropriate language-specific objects.

    The Moov API offers two methods of authentication, Cookie and OAuth2 access tokens. The cookie auth is designed for web browsers while the OAuth2 authentication is designed for automated access of our API.

    When an API requires a token generated using OAuth (2-legged), no end user is involved. You generate the token by passing your client credentials (Client Id and Client Secret) in a simple call to Create access token (`/oauth2/token`). The operation returns a token that is valid for a few hours and can be renewed; when it expires, you just repeat the call and get a new token. Making additional token requests will keep generating tokens. There are no hard or soft limits.

    Cookie auth is setup by provided (`/users/login`) a valid email and password combination. A `Set-Cookie` header is returned on success, which can be used in later calls. Cookie auth is required to generate OAuth2 client credentials.

    The following order of API operations is suggested to start developing against the Moov API:

    1. [Create a Moov API user](#operation/createUser) with a unique email address
    1. [Login with user/password credentials](#operation/userLogin)
    1. [Create an OAuth2 client](#operation/createOAuth2Client) and [Generate an OAuth access token](#operation/createOAuth2Token)
    1. Using the OAuth credentials create:
       - [Originator](#operation/addOriginator) and [Originator Depository](#operation/addDepository) (requires micro deposit setup)
       - [Customer](#operation/addCustomers) and [Customer Depository](#operation/addDepository) (requires micro deposit setup)
    1. [Submit the Transfer](#operation/addTransfer)

    After signup clients can [submit ACH files](#operation/addFile) (either in JSON or plaintext) for [validation](#operation/validateFile) and [tabulation](#operation/getFileContents).

    The Moov API offers many services:
    - Automated Clearing House (ACH) origination and file management
    - Transfers and ACH Customer management.
    - X9 / Image Cash Ledger (ICL) specification support (image uplaod)

    ACH is implemented a RESTful API enabling ACH transactions to be submitted and received without a deep understanding of a full NACHA file specification.

    An Originator can initiate a Transfer as either a push (credit) or pull (debit) to a Customer. Originators and Customers must have a valid Depository account for a Transfer. A Transfer is initiated by an Originator to a Customer with an amount and flow of funds.
    ```
    Originator                 ->   Gateway   ->   Customer
     - OriginatorDepository                         - CustomerDepository
     - Type   (Push or Pull)
     - Amount (USD 12.43)
     - Status (Pending)
     ```
     If you find a security related problem please contact us at [`security@moov.io`](mailto:security@moov.io).
  version: "v1"
  title: "Moov API"
  contact:
    email: security@moov.io
    url: "https://groups.google.com/forum/#!forum/moov-users"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: https://api.moov.io
    description: Production server
  # - url: https://sbx.moov.io
  #   description: Development server
tags:
  - name: Customers
    description: Customer objects are an individual or business used to perform transfer's with an originator and track multiple transactions associated with the customer. The API allows you to create, delete, and update your customers. You can retrieve individual customers as well as a list of all your customers. (Entry Detail)
  - name: Depositories
    description: Depository objects represent a US bank or credit union that funds can be debited or credit from a transfer. A Depository must be associated with a customer or an originator. The API allows you to create, delete, and update your depositories. You can retrieve individual depositories as well as a list of all your depositories.
  - name: Events
    description: Event objects are a notification of a state change of a resource. When an Event is created any active webhooks will be notified.
  - name: Files
    description: |
      File contains the structures of a ACH File. It contains one and only one File Header and File Control with at least one Batch.
      Batch objects within Files hold the Batch Header and Batch Control and all Entry Records and Addenda records for the Batch.
  - name: Gateways
    description: Gateway objects identify the origin (sending point) and destination (receiving point) of the entries to be transferred. (File Header)
  - name: OAuth2
    description: OAuth2 endpoints are oriented towards providing automated access to Moov API.
  - name: Originators
    description: Originator objects are an organization or person that initiates an ACH Transfer to a Customer account either as a debit or credit. The API allows you to create, delete, and update your originators. You can retrieve individual originators as well as a list of all your originators. (Batch Header)
  - name: Transfers
    description: Transfer objects create a transaction initiated by an originator to a customer with a defined flow and fund amount. The API allows you to create or delete a transfers while the status of the transfer is pending.
  - name: User
    description: User represents an entity that can create api auth tokens used to make requests.

paths:
# SIGNUP / User Auth
  /v1/users/create:
    post:
      tags:
        - User
      summary: Create a new user using an email address not seen before.
      operationId: createUser
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/User'
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid user information, check error(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error, check error(s) and report the issue.
  /v1/users/login:
    get:
      tags:
        - User
      summary: Check if a cookie is valid and authentic for a user.
      operationId: checkUserLogin
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: User object
          headers:
            X-User-Id:
              description: Moov API userId
              schema:
                type: string
            Set-Cookie:
              schema:
                type: string
                example: moov_auth=c9c688d1; Path=/; Secure
        '403':
          description: Cookie data is invalid or expired. Login required.
    post:
      tags:
        - User
      summary: Attempt to login with an email and password
      operationId: userLogin
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        description: Authenticating with an email and password
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: Successful login
          headers:
            Set-Cookie:
              description: Cookie data used to authenticate user.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid request body, check error(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid email and password combination. Retry with correct information.
    delete:
      tags:
        - User
      summary: Invalidat a user's cookie(s).
      operationId: userLogout
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: User cookies are invalidated.
  /v1/users/{user_id}:
    patch:
      tags:
        - User
      summary: Update a User's profile information
      operationId: updateUserProfile
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
        - name: user_id
          in: path
          description: Moov API User ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
      requestBody:
        description: 'User profile information'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/UserProfile'
      responses:
        '200':
          description: User profile updated
        '400':
          description: Invalid request body, check error(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# OAUTH2
  /v1/oauth2/authorize:
    get:
      tags:
        - OAuth2
      summary: Verify OAuth2 Bearer token
      operationId: checkOAuthClientCredentials
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: Authorization
          in: header
          description: <ignored>
          schema:
            type: string
            example: Bearer eB2d415A
          required: true
      responses:
        '200':
          description: Successfully authorized via OAuth2.
        '400':
          description: Invalid OAuth2 access_token, check error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/oauth2/client:
    post:
      tags:
        - OAuth2
      summary: Create OAuth2 client credentials
      operationId: createOAuth2Client
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '200':
          description: Created OAuth2 client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Clients'
        '500':
          description: Internal error occurred, check error(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/oauth2/token:
    post:
      tags:
        - OAuth2
      summary: Generate OAuth2 access token
      operationId: createOAuth2Token
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
        - name: grant_type
          in: query
          description: OAuth2 grant type (must be 'client_credentials')
          schema:
            type: string
            enum:
              - client_credentials
            default: client_credentials
        - name: client_id
          in: query
          description: OAuth2 client ID
          schema:
            type: string
        - name: client_secret
          in: query
          description: OAuth2 client secret
          schema:
            type: string
      responses:
        '200':
          description: OAuth2 Bearer access token
          content:
            application/json:
              schema:
                properties:
                  access_token:
                    description: OAuth2 Bearer access token
                    example: FFBDB35EDC67
                    type: string
                  expires_in:
                    description: Hours until access_token expires
                    type: integer
                    example: 7200
                  token_type:
                    type: string
                    example: Bearer
        '400':
          description: Missing parameters, check error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# FILES
  /v1/ach/files:
    get:
      tags:
      - Files
      summary: Gets a list of Files
      operationId: getFiles
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A list of File objects
          headers:
            X-Total-Count:
              description: The total number of Originators
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
  /v1/ach/files/create:
    post:
      tags:
      - Files
      summary: Create a new File object
      operationId: createFile
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        description: Content of the ACH file (in json or raw text)
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFile'
          text/plain:
            schema:
              description: A plaintext ACH file
              type: string
              example: 101 222380104 1210428821805100000A094101Citadel                Bank Name
      responses:
        '201':
          description: A JSON object containing a new File
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          description: "Invalid File Header Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/ach/files/{file_id}:
    get:
      tags:
      - Files
      summary: Retrieves the details of an existing File. You need only supply the unique File identifier that was returned upon creation.
      operationId: getFileByID
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: file_id
          in: path
          description: File ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
      responses:
        '200':
          description: A File object for the supplied ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '404':
          description: A resource with the specified ID was not found
    post:
      tags:
      - Files
      summary: Updates the specified File Header by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      operationId: updateFile
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
        - name: file_id
          in: path
          description: File ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFile'
      responses:
        '201':
          description: A JSON object containing a new File
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          description: "Invalid File Header Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Files
      summary: Permanently deletes a File and associated Batches. It cannot be undone.
      operationId: deleteACHFile
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: file_id
          in: path
          description: File ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
        - $ref: '#/components/parameters/requestId'
      responses:
          '200':
            description: Permanently deleted File.
          '404':
            description: A File with the specified ID was not found.
  /v1/ach/files/{file_id}/contents:
    get:
      tags:
        - Files
      summary: Assembles the existing file (batches and controls) records, computes sequence numbers and totals. Returns plaintext file.
      operationId: getFileContents
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: file_id
          in: path
          description: File ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
      responses:
        '200':
          description: File built successfully without errors.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RawFile'
  /v1/ach/files/{file_id}/validate:
    get:
      tags:
        - Files
      summary: Validates the existing file. You need only supply the unique File identifier that was returned upon creation.
      operationId: validateFile
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: file_id
          in: path
          description: File ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
      responses:
        '200':
          description: File validated successfully without errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '500':
          # TODO(adam): should be a 4xx error
          description: Validation failed. Check response for errors
  /v1/ach/files/{file_id}/batches:
    get:
      tags:
        - Files
      summary: Get the batches on a File.
      operationId: getFileBatches
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: file_id
          in: path
          description: File ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
      responses:
        '200':
          description: A list of Batch objects
          headers:
            X-Total-Count:
              description: The total number of Batches on the File.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batches'
    post:
      tags:
        - Files
      summary: Add Batch to File
      operationId: addBatchToFile
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
        - name: file_id
          in: path
          description: File ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Batch'
      responses:
        '200':
          description: Batch added to File
  /v1/ach/files/{file_id}/batches/{batch_id}:
    get:
      tags:
        - Files
      summary: Get a specific Batch on a FIle
      operationId: getFileBatch
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: file_id
          in: path
          description: File ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
        - name: batch_id
          in: path
          description: Batch ID
          required: true
          schema:
            type: string
            example: 45758063
      responses:
        '200':
          description: Batch object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '404':
          description: Batch or File not found
    delete:
      tags:
        - Files
      summary: Delete a Batch from a File
      operationId: deleteFileBatch
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: file_id
          in: path
          description: File ID
          required: true
          schema:
            type: string
            example: 3f2d23ee214
        - name: batch_id
          in: path
          description: Batch ID
          required: true
          schema:
            type: string
            example: 45758063
      responses:
        '200':
          description: Batch deleted
        '404':
          description: Batch or File not found
# Originators
  /v1/ach/originators:
    get:
      tags:
      - Originators
      summary: Gets a list of Originators
      operationId: getOriginators
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: A list of Originator objects
          headers:
            X-Total-Count:
              description: The total number of Originators
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Originators'
    post:
      tags:
      - Originators
      summary: Create a new Originator object
      operationId: addOriginator
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/Originator'
      responses:
        '201':
          description: A JSON object containing a new Originator
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Originator'
        '400':
          description: "Invalid Originator Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/ach/originators/{originatorId}:
    get:
      tags:
      - Originators
      summary: Retrieves the details of an existing Originator. You need only supply the unique Originator identifier that was returned upon customer creation.
      operationId: getOriginatorByID
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: originatorId
          in: path
          description: Originator ID
          required: true
          schema:
            type: string
            example: 3f2d23ee
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: A Originator object for the supplied ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Originator'
        '404':
          description: A resource with the specified ID was not found
    patch:
      tags:
      - Originators
      summary: Updates the specified Originator by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      operationId: updateOriginator
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: originatorId
          in: path
          description: Originator ID
          required: true
          schema:
            type: string
            example: 3f2d23ee
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/Originator'
      responses:
        '201':
          description: A JSON object containing a new Originator
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Originator'
        '400':
          description: "Invalid Originator Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Originators
      summary: Permanently deletes an Originator and associated Customers, Depositories, and Transfers. It cannot be undone. Also immediately cancels any active Transfers for the Originator.
      operationId: deleteOriginator
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: originatorId
          in: path
          description: Originator ID
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/requestId'
      responses:
          '200':
            description: Permanently deleted Originator.
          '404':
            description: A originator with the specified ID was not found.

# CUSTOMERS
  /v1/ach/customers:
    get:
      tags:
      - Customers
      summary: Gets a list of Customers
      operationId: getCustomers
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A list of Customer objects
          headers:
            X-Total-Count:
              description: The total number of Customers
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
    post:
      tags:
      - Customers
      summary: Create a new Customer object
      operationId: addCustomers
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/Customer'
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      responses:
        '201':
          description: A JSON object containing a new Customer
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          description: "Invalid Customer Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/ach/customers/{customerId}:
    get:
      tags:
      - Customers
      summary: Get a Customer by ID
      operationId: getCustomerByID
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: customerId
          in: path
          description: Customer ID
          required: true
          schema:
            type: string
            example: feb492e6
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A Customer object for the supplied Customer ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: A customer object with the specified ID was not found.
    patch:
      tags:
      - Customers
      summary: Updates the specified Customer by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      operationId: updateCustomer
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: customerId
          in: path
          description: Customer ID
          required: true
          schema:
            type: string
            example: feb492e6
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/Customer'
      responses:
        '201':
          description: A JSON object containing a new Customer
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          description: "Invalid Customer Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: A customer object with the specified ID was not found.
    delete:
      tags:
        - Customers
      summary: Permanently deletes a customer and associated depositories and transfers. It cannot be undone. Immediately cancels any active Transfers for the customer.
      operationId: deleteCustomer
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
      - name: customerId
        in: path
        description: Customer ID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/bearerToken'
      - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: Permanently deleted Customer.
        '404':
          description: A customer with the specified ID was not found.
  /v1/ach/customers/{customerId}/depositories:
    get:
      tags:
      - Customers
      summary: Get a list of Depository accounts for a Customer
      operationId: getDepositoriesByCustomerID
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: customerId
          in: path
          description: Customer ID
          required: true
          schema:
            type: string
            example: feb492e6
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A list of Depository objects for a Customer ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Depositories'
  /v1/ach/customers/{customerId}/depositories/{depositoryId}:
    get:
      tags:
      - Customers
      summary: Get a Depository accounts for a Customer based on it's ID
      operationId: getDepositoriesByID
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: customerId
          in: path
          description: Customer ID
          required: true
          schema:
            type: string
            example: feb492e6
        - name: depositoryId
          in: path
          description: Depository ID
          required: true
          schema:
            type: string
            example: 0c5e215c
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A Depository objects for the supplied ID
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Depository'
        '404':
          description: A resource object with the specified ID was not found.

# DEPOSITORIES
  /v1/ach/depositories:
    get:
      tags:
      - Depositories
      summary: A list of all Depository objects for the authentication context.
      operationId: getDepositories
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A list of Depository objects
          headers:
            X-Total-Count:
              description: The total number of Depositories
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Depositories'
    post:
      tags:
      - Depositories
      summary: Create a new depository account for a Customer ID or Originator ID defined in the Parent parameter
      operationId: addDepository
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/Depository'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Depository'
        '400':
          description: "Invalid Depository Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/ach/depositories/{depositoryId}:
    get:
      tags:
      - Depositories
      summary: Get a Depository object for the supplied ID
      operationId: getDepositoryByID
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: depositoryId
          in: path
          description: Depository ID
          required: true
          schema:
            type: string
            example: 0c5e215c
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A depository object for the supplied ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Depository'
        '404':
          description: A resource object with the specified ID was not found.
    patch:
      tags:
      - Depositories
      summary: Updates the specified Depository by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      operationId: updateDepository
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: depositoryId
          in: path
          description: Depository ID
          required: true
          schema:
            type: string
            example: feb492e6
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/Depository'
      responses:
        '201':
          description: A JSON object containing a new Depository
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Depository'
        '400':
          description: "Invalid Depository Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: A resource object with the specified ID was not found.
    delete:
      tags:
      - Depositories
      summary: Permanently deletes a depository and associated transfers. It cannot be undone. Immediately cancels any active Transfers for the depository.
      operationId: deleteDepository
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: depositoryId
          in: path
          description: Depository ID
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: Permanently deleted Depository.
        '404':
          description: A depository with the specified ID was not found.
  /v1/ach/depositories/{depositoryId}/micro-deposits:
    post:
      tags:
      - Depositories
      summary: Initiates micro deposits to be sent to the Depository institution for account validation
      operationId: initiateMicroDeposits
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: depositoryId
          in: path
          description: Depository ID
          required: true
          schema:
            type: string
            example: feb492e6
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: Micro deposits initiated
        '400':
          description: Problem initiating micro deposts, see error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/ach/depositories/{depositoryId}/micro-deposits/confirm:
    post:
      tags:
        - Depositories
      summary: Confirm micro deposit amounts after they have been posted to the depository account
      operationId:
        confirmMicroDeposits
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: depositoryId
          in: path
          description: Depository ID
          required: true
          schema:
            type: string
            example: 978e6ddb
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Amounts'
      responses:
        '200':
          description: Micro deposits confirmed
        '400':
          description: Invalid Amounts
        '404':
          description: A depository with the specified ID was not found.
        '409':
          description: Too many attempts. Bank already verified.

# TRANSFERS
  /v1/ach/transfers:
    get:
      tags:
      - Transfers
      summary: A list of all Transfer objects
      operationId: getTransfers
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A list of Transfer objects
          headers:
            X-Total-Count:
              description: The total number of Transfers
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfers'
    post:
      tags:
      - Transfers
      summary: Create a new transfer between an Originator and a Customer. Transfers cannot be modified. Instead delete the old and create a new transfer.
      operationId: addTransfer
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/Transfer'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        '400':
          description: "Invalid Transfer Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/ach/transfers/batch:
    post:
      tags:
        - Transfers
      summary: Create a new list of transfer, validate, build, and process. Transfers cannot be modified.
      operationId: addTransfers
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/Transfers'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfers'
        '400':
          description: "Invalid Transfer(s) Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/ach/transfers/{transferId}:
    get:
      tags:
      - Transfers
      summary: Get a Transfer object for the supplied ID
      operationId: getTransferByID
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: transferId
          in: path
          description: Transfer ID
          required: true
          schema:
            type: string
            example: 33164ac6
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A transfer object for the supplied ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        '404':
          description: A resource object with the specified ID was not found.
    delete:
      tags:
      - Transfers
      summary: It is possible to recall (delete) a transfer before it has been released from the financial institution.
      operationId: deleteTransferByID
      parameters:
        - name: transferId
          in: path
          description: Transfer ID
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/requestId'
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        '200':
          description: Transfer has been deleted.
        '404':
          description: A transfer with the specified ID was not found.
  /v1/ach/transfers/{transferId}/failed:
    post:
      tags:
        - Transfers
      summary: Get the NACHA return code and description
      operationId: getTransferNachaCode
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: transferId
          in: path
          description: Transfer ID
          required: true
          schema:
            type: string
            example: 33164ac6
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '200':
          description: TODO, check error json
        '404':
          description: Returned if no errors were found.
  /v1/ach/transfers/{transferId}/files:
    post:
      tags:
        - Transfers
      summary: Get the ACH files to be used in this transfer.
      operationId: getTransferFiles
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: transferId
          in: path
          description: Transfer ID
          required: true
          schema:
            type: string
            example: 33164ac6
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '200':
          description: The ACH files generated for a transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
        '400':
          description: ACH files failed validation, check response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/ach/transfers/{transferId}/events:
    get:
      tags:
      - Transfers
      summary: Get all Events associated with the Transfer object's for the supplied ID
      operationId: getTransferEventsByID
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: transferId
          in: path
          description: Transfer ID
          required: true
          schema:
            type: string
            example: 33164ac6
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A list of Event objects for the supplied Transfer ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events'
        '404':
          description: A resource object with the specified ID was not found.

# EVENTS
  /v1/ach/events:
    get:
      tags:
      - Events
      summary: Gets a list of Events
      operationId: getEvents
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A list of Event objects
          headers:
            X-Total-Count:
              description: The total number of Events
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events'
  /v1/ach/events/{eventId}:
    get:
      tags:
      - Events
      summary: Get a Event by ID
      operationId: getEventByID
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: eventId
          in: path
          description: Event ID
          required: true
          schema:
            type: string
            example: 94cf1126
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A Event object for the supplied Customer ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: A event object with the specified ID was not found.

# GATEWAYS
  /v1/ach/gateways:
    get:
      tags:
        - Gateways
      summary: Gets a list of Gatways
      operationId: getGateways
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: A list of Gateway objects
          headers:
            X-Total-Count:
              description: The total number of Events
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateways'
    post:
      tags:
      - Gateways
      summary: Create a new Gateway object
      operationId: addGateway
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/requestId'
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/Gateway'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: The location of the new resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '400':
          description: "Invalid Gateway Object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# WEBHOOK callback subscription
# TODO implement webhooks https://swagger.io/docs/specification/callbacks/

# Health and liveness probes
  /v1/ach/ping:
    get:
      tags:
      - Monitor
      operationId: pingACH
      summary: Check that the moov-io/ach service is running
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: Service is running properly
  /v1/auth/ping:
    get:
      tags:
      - Monitor
      operationId: pingAuth
      summary: Check that the moov-io/auth service is running
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: Service is running properly
  /v1/paygate/ping:
    get:
      tags:
      - Monitor
      operationId: pingPaygate
      summary: Check that the moov-io/paygate service is running
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: Service is running properly

# COMPONENTS
components:
  schemas:
    Amounts:
      description: A JSON array of currency amounts
      required:
        - amounts
      properties:
        amounts:
          type: array
          items:
            type: string
          example: ["USD 0.02", "USD -0.03"]
    OAuth2Client:
      properties:
        client_id:
          description: OAuth2 client ID
          type: string
          example: 9f2d213ee2a
        client_secret:
          description: OAuth2 client secret
          type: string
          example: 26e4fe61
        domain:
          description: HTTP domain for OAuth credentials
          type: string
          example: api.moov.io
    OAuth2Clients:
      type: array
      items:
        $ref: '#/components/schemas/OAuth2Client'
    Login:
      properties:
        email:
          description: Email address associated to the User
          type: string
          example: "user@example.com"
        password:
          description: Password associated to User
          type: string
          example: long_passphrase_unique_per_site
    User:
      properties:
        id:
          description: Moov API user ID
          type: string
          example: c05ad98a
        email:
          description: Email address associated to the user
          type: string
          example: user@example.com
        firstName:
          type: string
          example: Taylor
        lastName:
          type: string
          example: Swift
        phone:
          type: string
          description: Phone number associated to user
          example: 555.555.5555
        companyUrl:
          description: Company URL associated to user
          type: string
          format: uri
          example: https://moov.io
        createdAt:
          description: Timestamp of when user was created
          type: string
          format: date-time
          example: 2018-10-03T22:35:06
    UserProfile:
      properties:
        firstName:
          type: string
          description: Legal first name
          example: Jane
        lastName:
          type: string
          description: Legal last name
          example: Doe
        phone:
          type: string
          description: Phone number associated to user. Dots, hyphens and spaces are trimmed. +1 is the assumed country code.
          example: 555.555.5555
        companyUrl:
          description: Company URL associated to user
          type: string
          format: uri
    CreateFile:
      properties:
        id:
          type: string
          description: File ID
          example: 3f2d23ee214
        fileHeader:
          $ref: '#/components/schemas/FileHeader'
        batches:
          type: array
          items:
            $ref: '#/components/schemas/Batch'
        IATBatches:
          type: array
          items:
            $ref: '#/components/schemas/IATBatch'
        fileControl:
          $ref: '#/components/schemas/FileControl'
      required:
        - fileHeader
    File:
      properties:
        id:
          type: string
          description: File ID
          example: 3f2d23ee214
        fileHeader:
          $ref: '#/components/schemas/FileHeader'
        batches:
          type: array
          items:
            $ref: '#/components/schemas/Batch'
        IATBatches:
          type: array
          items:
            $ref: '#/components/schemas/IATBatch'
        fileControl:
          $ref: '#/components/schemas/FileControl'
        # NotificationOfChange: # TODO(adam)
        # ReturnEntries: # TODO(adam)
    FileHeader:
      properties:
        immediateOrigin:
          type: string
          description: contains the Routing Number of the ACH Operator or sending point that is sending the file.
          minLength: 9
          maxLength: 10
          example: "99991234"
        immediateOriginName:
          type: string
          description: The name of the ACH operator or sending point that is sending the file.
          maxLength: 23
          example: My Bank Name
        immediateDestination:
          type: string
          maxLength: 10
          minLength: 9
          example: "69100013"
          description: contains the Routing Number of the ACH Operator or receiving point to which the file is being sent
        immediateDestinationName:
          type: string
          description: The name of the ACH or receiving point for which that file is destined.
          maxLength: 23
          example: Federal Reserve Bank
        fileCreationDate:
          type: string
          description: Expressed in a "YYMMDD" (Y=Year, M=Month, D=Day) format. The File Creation Date is the date on which the file is prepared by an ODFI
          example: "102318"
          minLength: 6
          maxLength: 6
        fileCreationTime:
          type: string
          description: Expressed in "HHMM" (H=Hour, M=Minute, 24 hour clock) format.
          example: "1601"
          minLength: 4
          maxLength: 4
        fileIDModifier:
          type: string
          description: TODO
          example: TODO
      required:
        - immediateOrigin
        - immediateOriginName
        - immediateDestination
        - immediateDestinationName
    FileControl:
      properties:
        id:
          description: Moov API File ID
          type: string
          example: d1e26288
        batchCount:
          description: Count of Batches in the File
          type: integer
          example: 1
        blockCount:
          description: |
            BlockCount total number of records in the file (include all headers and trailer) divided by 10 (This number must be evenly divisible by 10. If not, additional records consisting of all 9’s are added to the file after the initial ‘9’ record to fill out the block 10.)
          type: integer
          example: 1
        entryAddendaCount:
          description: Total detail and addenda records in the file
          type: integer
          example: 0
        entryHash:
          description: EntryHash calculated in the same manner as the batch has total but includes total from entire file
          type: integer
          example: 0
        totalDebit:
          description: Accumulated Batch debit totals within the file.
          type: integer
          example: 100
        totalCredit:
          description: Accumulated Batch credit totals within the file.
          type: integer
          example: 20
    RawFile:
      type: string
      description: Plaintext ACH file
      example: "101 222380104 1210428821805100000A094101Citadel                Bank Name"
    Files:
      type: array
      items:
        $ref: '#/components/schemas/File'
    Batch:
      properties:
        batchHeader:
          $ref: '#/components/schemas/BatchHeader'
        entryDetails:
          type: array
          items:
            $ref: '#/components/schemas/EntryDetail'
        batchControl:
          $ref: '#/components/schemas/BatchControl'
    BatchHeader:
      required:
        - serviceClassCode
        - companyName
        - companyIdentification
        - ODFIIdentification
      properties:
        id:
          type: string
          description: Batch Header ID
          example: 913b5742
        serviceClassCode:
          type: integer
          description: Service Class Code - ACH Credits Only 220 and ACH Debits Only 225
          example: 220
        companyName:
          type: string
          description: Company originating the entries in the batch
          example: Acme Corp
        companyDiscretionaryData:
          type: string
          description: The 9 digit FEIN number (proceeded by a predetermined alpha or numeric character) of the entity in the company name field
          example: 123456789
        standardEntryClassCode:
          type: string
          description: Identifies the payment type (product) found within an ACH batch-using a 3-character code.
          example: PPD
        companyEntryDescription:
          type: string
          description: |
            A description of the entries contained in the batch.
            The Originator establishes the value of this field to provide a description of the purpose of the entry to be displayed back to the receive For example, "GAS BILL," "REG. SALARY," "INS. PREM,", "SOC. SEC.," "DTC," "TRADE PAY," "PURCHASE," etc.
            This field must contain the word "REVERSAL" (left justified) when the batch contains reversing entries.
            This field must contain the word "RECLAIM" (left justified) when the batch contains reclamation entries.
            This field must contain the word "NONSETTLED" (left justified) when the batch contains entries which could not settle.
          example: PURCHASE
        companyDescriptiveDate:
          type: string
          description: |
            The Originator establishes this field as the date it would like to see displayed to the receiver for descriptive purposes. This field is never used to control timing of any computer or manual operation. It is solely for descriptive purposes. The RDFI should not assume any specific format.
        effectiveEntryDate:
          description: Date on which the entries are to settle
          type: string
          format: date-time
        originatorStatusCode:
          type: integer
          description: |
            ODFI initiating the Entry.
            0 ADV File prepared by an ACH Operator.
            1 This code identifies the Originator as a depository financial institution.
            2 This code identifies the Originator as a Federal Government entity or agency.
        ODFIIdentification:
          description: First 8 digits of the originating DFI transit routing number
          type: string
          example: 12345678
        batchNumber:
          type: string
          description: |
            BatchNumber is assigned in ascending sequence to each batch by the ODFI or its Sending Point in a given file of entries. Since the batch number in the Batch Header Record and the Batch Control Record is the same, the ascending sequence number should be assigned by batch and not by record.
    BatchControl:
      properties:
        id:
          description: Batch ID
          type: string
          example: 62d8f0cd
        serviceClassCode:
          description: Same as ServiceClassCode in BatchHeaderRecord
          type: integer
          example: 220
        entryAddendaÇount:
          description: EntryAddendaCount is a tally of each Entry Detail Record and each Addenda Record processed, within either the batch or file as appropriate.
          type: integer
          example: 1
        entryHash:
          description: |
            Validate the Receiving DFI Identification in each Entry Detail Record is hashed to provide a check against inadvertent alteration of data contents due to hardware failure or program error.
            In this context the Entry Hash is the sum of the corresponding fields in the Entry Detail Records on the file.
          type: integer
          example: 0
        totalDebit:
          description: Contains accumulated Entry debit totals within the batch.
          type: integer
          example: 100
        totalCredit:
          description: Contains accumulated Entry credit totals within the batch.
          type: integer
          example: 100
        companyIdentification:
          description: |
            Alphanumeric code used to identify an Originator The Company Identification Field must be included on all prenotification records and on each entry initiated pursuant to such prenotification. The Company ID may begin with the ANSI one-digit Identification Code Designator (ICD), followed by the identification number The ANSI Identification Numbers and related Identification Code
            IRS Employer Identification Number (EIN) "1"
            Data Universal Numbering Systems (DUNS) "3"
            User Assigned Number "9"
          type: string
          example: 1
        messageAuthentication:
          description: MAC is an eight character code derived from a special key used in conjunction with the DES algorithm. The purpose of the MAC is to validate the authenticity of ACH entries. The DES algorithm and key message standards must be in accordance with standards adopted by the American National Standards Institute. The remaining eleven characters of this field are blank.
          type: string
          example: 3fe106cf
        ODFIIdentification:
          description: The routing number is used to identify the DFI originating entries within a given branch.
          type: string
          example: 123456789
        batchNumber:
          type: string
          description: BatchNumber is assigned in ascending sequence to each batch by the ODFI or its Sending Point in a given file of entries. Since the batch number in the Batch Header Record and the Batch Control Record is the same, the ascending sequence number should be assigned by batch and not by record.
    Batches:
      type: array
      items:
        $ref: '#/components/schemas/Batch'
    EntryDetail:
      required:
        - id
        - transactionCode
        - RDFIIdentification
        - checkDigit
        - DFIAccountNumber
        - amount
        - individualName
      properties:
        id:
          type: string
          description: Entry Detail ID
          example: 842a2261
        transactionCode:
          type: integer
          description: |
            transactionCode if the receivers account is:
            Credit (deposit) to checking account 22
            Prenote for credit to checking account 23
            Debit (withdrawal) to checking account 27
            Prenote for debit to checking account 28
            Credit to savings account 32
            Prenote for credit to savings account 33
            Debit to savings account 37
            Prenote for debit to savings account 38
          example: 22
        RDFIIdentification:
          type: string
          description: RDFI's routing number without the last digit.
          example: 12345678
        checkDigit:
          type: string
          description: Last digit in RDFI routing number.
          example: "0"
        DFIAccountNumber:
          type: string
          description: |
            The receiver's bank account number you are crediting/debiting. It important to note that this is an alphanumeric field, so its space padded, no zero padded
          example: 181141847
        amount: # TODO(adam): use "USD 12.53" format?
          # type: string
          type: integer
          description: Number of cents you are debiting/crediting this account
          # example: "USD 12.35"
          example: 1235
        identificationNumber:
          type: string
          description: Internal identification (alphanumeric) that you use to uniquely identify this Entry Detail Record
          example: 8aa786
        individualName:
          type: string
          description: The name of the receiver, usually the name on the bank account
          example: Taylor Swift
        discretionaryData:
          type: string
          description: |
            DiscretionaryData allows ODFIs to include codes, of significance only to them, to enable specialized handling of the entry. There will be no standardized interpretation for the value of this field. It can either be a single two-character code, or two distinct one-character codes, according to the needs of the ODFI and/or Originator involved. This field must be returned intact for any returned entry.
            WEB uses the Discretionary Data Field as the Payment Type Code
          example: AB
        addendaRecordIndicator:
          type: integer
          description: |
            AddendaRecordIndicator indicates the existence of an Addenda Record. A value of "1" indicates that one ore more addenda records follow, and "0" means no such record is present.
          example: 1
        traceNumber:
          type: integer
          description: |
            TraceNumber assigned by the ODFI in ascending sequence, is included in each Entry Detail Record, Corporate Entry Detail Record, and addenda Record.
            Trace Numbers uniquely identify each entry within a batch in an ACH input file. In association with the Batch Number, transmission (File Creation) Date, and File ID Modifier, the Trace Number uniquely identifies an entry within a given file.
            For addenda Records, the Trace Number will be identical to the Trace Number in the associated Entry Detail Record, since the Trace Number is associated with an entry or item rather than a physical record.
        addendum:
          type: array
          description: List of Addenda for the Entry Detail
          items:
            $ref: '#/components/schemas/Addendum'
        category:
          type: string
          description: Category defines if the entry is a Forward, Return, or NOC
          example: Forward
    Addendum:
      required:
        - typeCode
      properties:
        typeCode:
          type: string
          description: TODO
          example: '02'
    IATBatch:
      properties:
        id:
          description: Client defined string used as a reference to this record.
          type: string
          example: a747e53f
        IATBatchHeader:
          $ref: '#/components/schemas/IATBatchHeader'
    IATBatchHeader:
      properties:
        id:
          description: ID is a client defined string used as a reference to this record.
          type: string
          example: a747e53f
        serviceClassCode:
          description: |
            ServiceClassCode ACH Mixed Debits and Credits ‘200’
            ACH Credits Only ‘220’
            ACH Debits Only ‘225'
          type: integer
          example: 220
        IATIndicator:
          description: Leave Blank. Only used for corrected IAT entries
          type: string
          example: ""
        foreignExchangeIndicator:
          description: |
            Code indicating currency conversion.
            FV Fixed-to-Variable – Entry is originated in a fixed-value amount and is to be received in a variable amount resulting from the execution of the foreign exchange conversion.
            VF Variable-to-Fixed – Entry is originated in a variable-value amount based on a specific foreign exchange rate for conversion to a fixed-value amount in which the entry is to be received.
            FF Fixed-to-Fixed – Entry is originated in a fixed-value amount and is to be received in the same fixed-value amount in the same currency denomination. There is no foreign exchange conversion for entries transmitted using this code. For entries originated in a fixed value amount, the foreign Exchange Reference Field will be space filled.
          type: string
          example: FF
        foreignExchangeReferenceIndicator:
          description: |
            Code used to indicate the content of the Foreign Exchange Reference Field and is filled by the gateway operator. Valid entries are
            1 - Foreign Exchange Rate;
            2 - Foreign Exchange Reference Number; or
            3 - Space Filled
          type: integer
          example: 2
        foreignExchangeReference:
          description: |
            Contains either the foreign exchange rate used to execute the foreign exchange conversion of a cross-border entry or another reference to the foreign exchange transaction.
          type: string
        ISODestinationCountryCode:
          description: Two-character code, as approved by the International Organization for Standardization (ISO), to identify the country in which the entry is to be received. For United States use US.
          type: string
          example: US
        originatorIdentification:
          description: |
            For U.S. entities: the number assigned will be your tax ID (often Social Security Number)
            For non-U.S. entities: the number assigned will be your DDA number, or the last 9 characters of your account number if it exceeds 9 characters
          type: string
          example: 123456789
        standardEntryClassCode:
          description: |
            StandardEntryClassCode for consumer and non consumer international payments is IAT.
            Identifies the payment type (product) found within an ACH batch-using a 3-character code.
            The SEC Code pertains to all items within batch.
            Determines format of the detail records.
            Determines addenda records (required or optional PLUS one or up to 9,999 records).
            Determines rules to follow (return time frames).
            Some SEC codes require specific data in predetermined fields within the ACH record
          type: string
          example: IAT
        companyEntryDescription:
          description: |
            A description of the entries contained in the batch
            The Originator establishes the value of this field to provide a description of the purpose of the entry to be displayed back to the receive For example, "GAS BILL," "REG. SALARY," "INS. PREM," "SOC. SEC.," "DTC," "TRADE PAY," "PURCHASE," etc.
            This field must contain the word "REVERSAL" (left justified) when the batch contains reversing entries.
            This field must contain the word "RECLAIM" (left justified) when the batch contains reclamation entries.
            This field must contain the word "NONSETTLED" (left justified) when the batch contains entries which could not settle.
          type: string
          example: GAS BILL
        ISOOriginatingCurrencyCode:
          description: |
            Three-character code, as approved by the International Organization for Standardization (ISO), to identify the currency denomination in which the entry was first originated. If the source of funds is within the territorial jurisdiction of the U.S., enter 'USD', otherwise refer to International Organization for Standardization website for value: www.iso.org
          type: string
          example: USD
        ISODestinationCurrencyCode:
          description: |
            ISODestinationCurrencyCode is the three-character code, as approved by the International Organization for Standardization (ISO), to identify the currency denomination in which the entry will ultimately be settled. If the final destination of funds is within the territorial jurisdiction of the U.S., enter “USD”, otherwise refer to International Organization for Standardization website for value: www.iso.org
          type: string
          example: USD
        effectiveEntryDate:
          description: |
            EffectiveEntryDate the date on which the entries are to settle format YYMMDD (Y=Year, M=Month, D=Day)
          type: string
          example: 181231
        originatorStatusCode:
          description: |
            SettlementDate Leave blank, this field is inserted by the ACH operator settlementDate string OriginatorStatusCode refers to the ODFI initiating the Entry.
            0 ADV File prepared by an ACH Operator.
            1 This code identifies the Originator as a depository financial institution.
            2 This code identifies the Originator as a Federal Government entity or agency.
          type: integer
          example: 1
        ODFIIdentification:
          description: |
            ODFIIdentification First 8 digits of the originating DFI transit routing number for Inbound IAT Entries, this field contains the routing number of the U.S. Gateway Operator.  For Outbound IAT Entries, this field contains the standard routing number, as assigned by Accuity, that identifies the U.S. ODFI initiating the Entry. Format - TTTTAAAA
          type: string
          example: 12345678
        batchNumber:
          description: |
            BatchNumber is assigned in ascending sequence to each batch by the ODFI or its Sending Point in a given file of entries. Since the batch number in the Batch Header Record and the Batch Control Record is the same, the ascending sequence number should be assigned by batch and not by record.
          type: integer
          example: 1
    Error:
      required:
        - error
      properties:
        error:
          type: string
          description: An error message describing the problem intended for humans.
          example: Validation error(s) present.
    Originator:
      properties:
        id:
          type: string
          description: Originator ID
          example: 724b6abe
        defaultDepository:
          type: string
          description: The depository account to be used by default per transfer. ID must be a valid Originator Depository account
          example: 0c0c3412
        identification:
          type: string
          maxLength: 14
          description: An identification number by which the customer is known to the originator.
          example:
        metadata:
          type: string
          description: Additional meta data to be used for display only
          example: Primary payment account
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
    Originators:
      type: array
      items:
        $ref: '#/components/schemas/Originator'
    Customer:
      properties:
        id:
          type: string
          description: Customer ID
          example: feb492e6
        email:
          type: string
          description: The customers email address
          format: e-mail
        defaultDepository:
          type: string
          description: The depository account to be used by default per transfer. ID must be a valid Customer Depository account
          example: 0c5e215c
        status:
          type: string
          description: Defines the status of the Customer
          enum:
            - unverified
            - verified
            - suspended
            - deactivated
        metadata:
          type: string
          description: Additional meta data to be used for display only
          example: Authorized for re-occurring WEB
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
    Customers:
      type: array
      items:
        $ref: '#/components/schemas/Customer'
    Depository:
      properties:
        id:
          type: string
          description: Depository ID
          example: 0c5e215c
        bankName:
          type: string
          description: Legal name of the financial institution.
          example: "MVB Bank, Inc."
        holder:
          type: string
          description: Legal holder name on the account
          example: "My Company,llc or Wade Arnold"
        holderType:
          type: string
          description: Defines the type of entity of the account holder as an *individual* or *company*
          enum:
            - individual
            - company
        type:
          type: string
          description: Defines the account as *checking* or *savings*
          enum:
            - Checking
            - Savings
          example: "checking"
        routingNumber:
          type: string
          description: The ABA routing transit number for the depository account.
          example: "051504597"
        accountNumber:
          type: string
          description: The account number for the depository account
          example: "0001027028"
        status:
          type: string
          description: Defines the status of the Depository account
          enum:
            - unverified
            - verified
        metadata:
          type: string
          description: Additional meta data to be used for display only
          example: Payroll
        parent:
          type: string
          description: The depository owner's valid Customer ID or Originator ID
          example: feb492e6
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
      required:
      - holder
      - holderType
      - type
      - routingNumber
      - accountNumber
    Depositories:
      type: array
      items:
        $ref: '#/components/schemas/Depository'
    Transfer:
      properties:
        id:
          type: string
          description: Optional ID to uniquely identify this transfer. If omitted, one will be generated
          example: 33164ac6
        type:
          type: string
          enum:
            - "push"
            - "pull"
          example: "push"
          description: Type of transaction being actioned against the receiving institution. Expected values are pull (debits) or push (credits). Only one period used to signify decimal value will be included.
        amount:
          type: string
          format: currency
          example: "USD 99.99"
          description: Amount of money. USD - United States.
        originator:
          type: string
          example: 724b6abe
          description: ID of the Originator account initiating the transfer.
        originatorDepository:
          type: string
          example: 59276ce4
          description: ID of the Originator Depository to be be used to override the default depository.
        customer:
          type: string
          example: feb492e6
          description: ID of the Customer account the transfer was sent to.
        customerDepository:
          type: string
          example: dad7ddfb
          description: ID of the Customer Depository to be used to override the default depository
        description:
          type: string
          description: Brief description of the transaction, that may appear on the receiving entity’s financial statement
          example: Loan Pay
          minLength: 1
          maxLength: 79
        standardEntryClassCode:
          type: string
          description: Standard Entry Class code will be generated based on Customer type for CCD and PPD
          example: WEB
        status:
          type: string
          description: Defines the state of the Transfer
          enum:
            - processed
            - pending
            - canceled
            - failed
            - reclaimed
        sameDay:
          type: boolean
          default: false
          description: When set to true this indicates the transfer should be processed the same day if possible.
        created:
          type: string
          format: date-time
        WEBDetail:
          $ref: '#/components/schemas/WEBDetail'
      required:
        - type
        - amount
        - customer
        - originator
        - description
    Transfers:
      type: array
      items:
        $ref: '#/components/schemas/Transfer'
    Gateway:
      properties:
        id:
          type: string
          description: ID to uniquely identify a gateway
        origin:
          type: string
          description: Routing Number - four digit Federal Reserve Routing Symbol and the four digit ABA Institution Identifier
          example: "99991234"
        originName:
          type: string
          description: Legal name associated with the origin routing number.
          example: My Bank Name
        destination:
          type: string
          description: Routing Number - four digit Federal Reserve Routing Symbol and the four digit ABA Institution Identifier
          example: "69100013"
        destinationName:
          type: string
          description: Legal name associated with the destination routing number
          example: Federal Reserve Bank
        created:
          type: string
          format: date-time
      required:
        - id
        - origin
        - originName
        - destination
        - destinationName
    Gateways:
      type: array
      items:
        $ref: '#/components/schemas/Gateway'
    Event:
      properties:
        id:
          type: string
          description: ID to uniquely identify a event
          example: 94cf1126
        topic:
          type: string
          description: Type of event
          example: transfer_created
        message:
          type: string
          description: A human readable description of the topic
          example: A bank transfer was created
        type:
          type: string
          enum:
            - "Originator"
            - "Customer"
            - "Depository"
            - "Transfer"
          example: Transfers
        resource:
          type: string
          description: ID of the resource type the event was generated on behalf of.
          example: dad7ddfb-71cd-4699-add4-2867878d154f
        created:
          type: string
          format: date-time
    Events:
      type: object
      items:
        $ref: '#/components/schemas/Event'
    WEBDetail:
      properties:
        PaymentType:
          type: string
          description: Defines if the transfer is authorized for a single transaction or reoccurring
          enum:
            - "single"
            - "reoccurring"
          example: single
  requestBodies:
    Login:
      description: Credentials used to authentivate to the Moov API
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Login'
            required:
              - email
              - password
    User:
      description: A Moov API User object
      required: true
      content:
        application/json:
          schema:
            properties:
              email:
                description: Email address associated to the User
                type: string
              password:
                description: Password associated to User
                type: string
              firstName:
                type: string
                description: Legal first name
              lastName:
                type: string
                description: Legal last name
              phone:
                type: string
                description: Phone number associated to user. Dots, hyphens and spaces are trimmed. +1 is the assumed country code.
                example: 555.555.5555
              companyUrl:
                description: Company URL associated to user
                type: string
                format: uri
            required:
              - email
              - password
              - firstName
              - lastName
              - phone
    UserProfile:
      description: A JSON object with updates to a User profile
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserProfile'
    Originator:
      description: A JSON object containing a new Originator
      required: true
      content:
        application/json:
          schema:
            properties:
              defaultDepository:
                type: string
                description: The depository account to be used by default per transfer. ID must be a valid Originator Depository account
                example: 0c0c3412
              identification:
                type: string
                maxLength: 14
                description: An identification number by which the customer is known to the originator.
              metadata:
                type: string
                description: Additional meta data to be used for display only
                example: Primary payment account
            required:
              - defaultDepository
              - identification
    Customer:
      description: A JSON object containing a new Customer
      required: true
      content:
        application/json:
          schema:
            properties:
              email:
                type: string
                description: The customers email address
                format: e-mail
              defaultDepository:
                type: string
                description: The depository account to be used by default per transfer. ID must be a valid Customer Depository account
                example: 0c5e215c
              metadata:
                type: string
                description: Additional meta data to be used for display only
                example: Authorized for re-occurring WEB
            required:
              - email
              - defaultDepository
    Depository:
      description: A JSON object containing a new Depository
      required: true
      content:
        application/json:
          schema:
            properties:
              bankName:
                type: string
                description: Legal name of the financial institution.
                example: "MVB Bank, Inc."
              holder:
                type: string
                description: Legal holder name on the account
                example: "My Company,llc or Wade Arnold"
              holderType:
                type: string
                description: Defines the type of entity of the account holder as an *individual* or *company*
                enum:
                  - individual
                  - company
              type:
                type: string
                description: Defines the account as *checking* or *savings*
                enum:
                  - Checking
                  - Savings
                example: "checking"
              routingNumber:
                type: string
                description: The ABA routing transit number for the depository account.
                example: "051504597"
              accountNumber:
                type: string
                description: The account number for the depository account
                example: "0001027028"
              metadata:
                type: string
                description: Additional meta data to be used for display only
                example: Payroll
              parent:
                type: string
                description: The depository owner's valid Customer ID or Originator ID
                example: feb492e6
            required:
              - bankName
              - holder
              - holderType
              - type
              - routingNumber
              - accountNumber
              - parent
    Transfer:
      description: A JSON object containing a new Transfer
      required: true
      content:
        application/json:
          schema:
            properties:
              type:
                type: string
                enum:
                  - "push"
                  - "pull"
                example: "push"
                description: Type of transaction being actioned against the receiving institution. Expected values are pull (debits) or push (credits). Only one period used to signify decimal value will be included.
              amount:
                type: string
                format: currency
                example: "USD 99.99"
                description: Amount of money. USD - United States.
              originator:
                type: string
                example: 724b6abe
                description: ID of the Originator account initiating the transfer.
              originatorDepository:
                type: string
                example: 59276ce4
                description: ID of the Originator Depository to be be used to override the default depository.
              customer:
                type: string
                example: feb492e6
                description: ID of the Customer account the transfer was sent to.
              customerDepository:
                type: string
                example: dad7ddfb
                description: ID of the Customer Depository to be used to override the default depository
              description:
                type: string
                description: Brief description of the transaction, that may appear on the receiving entity’s financial statement
                example: Loan Pay
                minLength: 1
                maxLength: 79
              standardEntryClassCode:
                type: string
                description: Standard Entry Class code will be generated based on Customer type for CCD and PPD
                example: WEB
              sameDay:
                type: boolean
                default: false
                description: When set to true this indicates the transfer should be processed the same day if possible.
              WEBDetail:
                $ref: '#/components/schemas/WEBDetail'
            required:
              - type
              - amount
              - customer
              - originator
              - description
    Transfers:
      description: A JSON array containing Transfers
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/requestBodies/Transfers'
    Gateway:
      description: A JSON object containing a new Gateway
      required: true
      content:
        application/json:
          schema:
            properties:
              origin:
                type: string
                description: Routing Number - four digit Federal Reserve Routing Symbol and the four digit ABA Institution Identifier
                example: "99991234"
              originName:
                type: string
                description: Legal name associated with the origin routing number.
                example: My Bank Name
              destination:
                type: string
                description: Routing Number - four digit Federal Reserve Routing Symbol and the four digit ABA Institution Identifier
                example: "69100013"
              destinationName:
                type: string
                description: Legal name associated with the destination routing number
                example: Federal Reserve Bank
            required:
              - origin
              - originName
              - destination
              - destinationName
# continuning 'components:'
  parameters:
    cookie:
      name: cookie
      in: cookie
      schema:
        type: string
      description: moov_auth Cookie
    bearerToken:
      in: header
      name: Authorization
      description: OAuth2 Bearer token
      example: Bearer A4CA3074
      schema:
        type: string
    offsetParam:
      in: query
      name: offset
      required: false
      description: The number of items to skip before starting to collect the result set
      schema:
        type: integer
        minimum: 1
        default: 0
    limitParam:
      in: query
      name: limit
      description: The number of items to return
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 100
        default: 25
        example: 10
    idempotencyKey:
      in: header
      name: X-Idempotency-Key
      description: Idempotent key in the header which expires after 24 hours. These strings should contain enough entropy for to not collide with each other in your requests.
      example: a4f88150
      required: false
      schema:
        type: string
    requestId:
      in: header
      name: X-Request-Id
      description: Optional Request ID allows application developer to trace requests through the systems logs
      example: rs4f9915
      schema:
        type: string
    startDate:
      in: query
      name: startDate
      description: Filter objects created after this date. ISO-8601 format YYYY-MM-DD. Can optionally be used with endDate to specify a date range.
      schema:
        type: string
        format: date-time
    endDate:
      in: query
      name: endDate
      description: Filter objects created before this date. ISO-8601 format YYYY-MM-DD. Can optionally be used with startDate to specify a date range.
      schema:
        type: string
        format: date-time
  securitySchemes:
    bearerAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.moov.io/v1/oauth2/token
          # TODO(adam): more fine grained controls..
          scopes: {}
    cookieAuth:
      type: apiKey
      in: header
      name: Cookie
      description: moov_auth Cookie header
      # We should be able to use 'in: cookie'
      # https://github.com/OpenAPITools/openapi-generator/issues/208
      # in: cookie
      # name: moov_auth
